<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="nopCommerce Regression Suite">
  <test name="Test">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="tests.ProductHoverMenuTestC"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
